.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  margin: 0 1px;
  padding: 2px 4px;
  border: 1px solid orangered;
  color: orangered;
  background-color: transparent;
  cursor: pointer;
}
.pageCurrent {
  border-color: orange;
  color: orange;
}
