* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ececec;
}

.App {
  width: 1024px;
  padding: 32px 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.headerSorts {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, max-content));
  gap: 8px;
  justify-content: right;
}
